.battle-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.battle-view .battle-view-item {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2em;
}
.battle-view .battle-view-item h1 {
  margin: 0.5em;
}
.battle-view .battle-view-item h3 {
  font-weight: bolder;
  margin: 0.5em;
}
.battle-view .battle-view-item div {
  display: flex;
  flex-flow: row;
}
.battle-view .battle-view-item div .knight-view-pic img {
  height: 20vh;
}
.battle-view .battle-view-item .battle-view-calc {
  margin: 0.5em;
}
.battle-view .battle-view-item .battle-view-calc p {
  margin: 0 4pt;
}

.knight-view .knight-view-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 2em;
}
.knight-view .knight-view-container section #gold {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.knight-view .knight-view-container section #gold div[th="0"] {
  grid-column: 1;
}
.knight-view .knight-view-container section #gold div[th="1"] {
  grid-column: 2;
}
.knight-view .knight-view-container .knight-view-item {
  margin: 8pt;
}
.knight-view .knight-view-container .knight-view-item div {
  display: flex;
  flex-flow: row;
}
.knight-view .knight-view-container .knight-view-item div h3 {
  margin: 2pt 0;
}
.knight-view .knight-view-container .knight-view-item div p {
  color: darkred;
  padding: 2pt;
}
.knight-view .knight-view-container .knight-view-item input[type=number] {
  border: none;
  border-radius: 4pt;
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 2pt 0;
  padding: 0.5em;
}
.knight-view .knight-view-container .knight-view-item input[type=number]:focus {
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2) inset;
}

.map-view {
  display: flex;
  flex-flow: column;
  margin: 2em;
}
.map-view .map-view-settings {
  display: flex;
  flex-flow: column;
  margin-bottom: 8pt;
}
.map-view .map-view-settings label {
  font-weight: bold;
}
.map-view .map-view-container {
  align-self: center;
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(42, 1fr);
  padding: 1em;
}
.map-view .map-view-container .map-view-item {
  height: 10pt;
  width: 10pt;
  margin: 0.5px;
}
.map-view .map-view-container .map-view-item[terrain="0"] {
  background: rgba(255, 0, 0, 0.8);
  box-shadow: 0 0 1em rgba(255, 0, 0, 0.6);
}
.map-view .map-view-container .map-view-item[terrain="1"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="1"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="2"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="2"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="3"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="3"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="4"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="4"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="5"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="5"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="6"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="6"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="7"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="7"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="8"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="8"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="9"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="9"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="10"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="10"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="11"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="11"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="12"] {
  background: white;
}
.map-view .map-view-container .map-view-item[terrain="12"] svg {
  box-shadow: 0 0 4em #d4af37;
  fill: #886f1d;
}
.map-view .map-view-container .map-view-item[terrain="13"] {
  background: rgba(0, 128, 0, 0.8);
  box-shadow: 0 0 1em rgba(0, 128, 0, 0.6);
}
.map-view .map-view-container .map-view-item[terrain="14"] {
  background: rgba(0, 0, 0, 0.6);
}
.map-view .map-view-container .map-view-item[terrain="15"] {
  background: rgba(0, 0, 0, 0.1);
}
.map-view .map-view-container .map-view-item[terrain="16"] {
  background: rgba(0, 0, 0, 0.3);
}
.map-view .map-view-container .map-view-item[reveal] {
  box-shadow: 0 0 1em rgba(0, 255, 255, 0.8), 0 0 1em rgba(0, 255, 255, 0.8) inset;
}
.map-view .map-view-result {
  display: flex;
  flex-flow: row;
  margin: 4pt 50%;
}
.map-view .map-view-result p {
  color: green;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

html, body {
  background: rgba(0, 0, 0, 0.06);
}

main {
  display: flex;
  flex-flow: column;
}
main .ui {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
main .ui button {
  align-self: center;
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 100%;
  margin: 2em;
  outline: none;
  padding: 4em;
}
main .ui button[running] {
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2) inset;
}
main .ui button[running] svg {
  fill: rgba(0, 255, 255, 0.4);
}
main .ui button:active {
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2) inset;
}
main .ui button svg {
  height: 10vh;
  width: 10vh;
}
main .result-view {
  align-items: center;
  box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, 0.5), 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  padding: 2em;
}
main .result-view .result-view-calc {
  border-bottom: solid 1pt;
  align-items: baseline;
  display: flex;
  flex-flow: row;
}
main .result-view .result-view-calc strong {
  margin: 0.5em;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
